# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/
.expo-shared/
dist/
build/
.bundle/
.env
.env.local
.env.*.local
*.expo
*.p8
*.p12
*.key
*.mobileprovision

# Metro
metro-cache/
.expo/web/cache

# macOS
.DS_Store
*.swp
*.swo

# Logs
*.log

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/.settings/
android/.cxx/
*.iml

# Keystore files (private, đừng push)
*.keystore
*.jks

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/xcuserdata/
ios/*.xcworkspace/xcshareddata/
ios/.swiftpm/
ios/.symlinks/
ios/DerivedData/
ios/.idea/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Xcode
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcshareddata/
